{
  "root": true,
  "plugins": ["prettier"],
  "extends": ["plugin:github/recommended"],
  "rules": {
    "prettier/prettier": "error",
    "filenames/match-regex": "off",
    "import/no-commonjs": "off"
  },
  "env": {
    "node": true,
    "es6": true,
    "jest": true
  },
  "parserOptions": {
    "ecmaVersion": 2017
  }
}
